.background{
     background: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;

 }
.container {
    width: 1060px;
    margin: 0 auto;
}

.link { display: inline-block;
    text-transform: uppercase;
    width: 250px;
    margin-top: 50px;
    float: ;
    text-decoration: none;
    color: white;
}
.logo:hover img {
    content: url("../img/logo2@1X.png");
}

.logo-img{
    float: left;
    display: block;
    margin-right: 15px;
}

.logo-name {
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 29px;

    padding-bottom: 1px;
}

.logo-text {
    font-family: Verdana,sans-serif;
    font-weight: 700;
    font-size: 18px;

}

.contacts {
    width: 250px;
    margin-top: 57px;
    float: right;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    text-align: right;
    color: #fff;

}
.products{
    display: inline-block;
    margin-top: 48px;

}


.shopping-Tours-item {
    width: 307px;
    height: 200px;
    float: left;

}

.sightseeing-tours {
    width: 307px;
    height: 200px;
    float: left;
    margin-left: 69px;
    position: relative;
}

.orange-box {
    width: 308px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    bottom: 0.5px;
    opacity: 0;
}

.orange-item-block:hover .orange-box{
    opacity: 1;
}

.price-text {
    font-family: Verdana,sans-serif;
    font-size: 10px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
}

.price {
    font-family: Verdana,sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    margin-left: 20px;

}

.price-details {
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: right;
    padding-left: 110px;

}
.food-tours {
    width: 307px;
    height: 200px;
    float: left;
    margin-left: 69px;
}

.bars-nightlife {
    width: 307px;
    height: 200px;
    float: left;
    margin-top: 98px;
}


.art-architecture {
    width: 307px;
    height: 200px;
    float: left;
    margin-left: 69px;
    margin-top: 98px;
}

.walking-tours {
    width: 307px;
    height: 200px;
    float: left;
    margin-left: 69px;
    margin-top: 98px;
}

.section-text{
    color: #fff;
    text-align: center;
    font-family: Verdana,sans-serif;
    font-size: 18px;
    margin-top: 22px;
    }
.copyright {
    margin-top: 96px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Verdana',sans-serif;
    font-size: 12px;
    color: #fff;

}

.orange-text:hover{
    color: #f26522;
}